{% extends 'base.html.twig' %}

{% block title %} {{ 'Login'|trans }} {% endblock %}

{% block body %}
    <main role="main" class="inner cover text-center">
        <br>
        <h1 class="cover-heading">Hey! Check out our task list.</h1>
        <p class="lead">This page is made for a simple symfony project to learn advanced symfony's fixtures.</p>
        <p class="lead">
        <a href="{{ path('task_index') }}" class="btn btn-lg btn-secondary">Check out tasks</a>
        </p>
    </main>
{% endblock %}
